<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.discount.mapper.CouponRuleMapper">
    <resultMap id="couponRule" type="couponRulePo" autoMapping="true">
        <result property="beDeleted" column="is_deleted"/>
        <result property="statusCode" column="status"/>
    </resultMap>


    <select id="getCouponRuleById" parameterType="Integer" resultMap="couponRule">
        select id,
               name,
               brief,
               begin_time,
               end_time,
               pic_url,
               valid_period,
               strategy,
               total,
               goods_list1,
               goods_list2,
               gmt_create,
               gmt_modified,
               is_deleted,
               status
        from oomall_coupon_rule where id =#{id} and is_deleted=0
    </select>

    <select id="listCouponRules" resultMap="couponRule">
        select id,
               name,
               brief,
               begin_time,
               end_time,
               pic_url,
               valid_period,
               strategy,
               total,
               goods_list1,
               goods_list2,
               gmt_create,
               gmt_modified,
               is_deleted,
               status
        from oomall_coupon_rule where is_deleted=0
    </select>

    <insert id="addCouponRule" parameterType="couponRulePo" useGeneratedKeys="true" keyProperty="id" >
        insert into oomall_coupon_rule(name, brief, begin_time, end_time, pic_url, valid_period, strategy, total, goods_list1, goods_list2, gmt_create, gmt_modified, is_deleted,status)
        values
        (#{name}, #{brief}, #{beginTime}, #{endTime}, #{picUrl}, #{validPeriod}, #{strategy}, #{total}, #{goodsList1}, #{goodsList2}, #{gmtCreate}, #{gmtModified}, #{beDeleted},#{statusCode})
    </insert>

    <update id="updateCouponRuleById" parameterType="couponRulePo">
        update oomall_coupon_rule
        <trim prefix="set" suffixOverrides=",">
            <if test="name!=null">name=#{name},</if>
            <if test="brief!=null">brief=#{brief},</if>
            <if test="beginTime!=null">begin_time=#{beginTime},</if>
            <if test="endTime!=null">end_time=#{endTime},</if>
            <if test="picUrl!=null">pic_Url=#{picUrl},</if>
            <if test="validPeriod!=null">valid_Period=#{validPeriod},</if>
            <if test="strategy!=null">strategy=#{strategy},</if>
            <if test="total!=null">total=#{total},</if>
            <if test="goodsList1!=null">goods_list1=#{goodsList1},</if>
            <if test="goodsList2!=null">goods_list2=#{goodsList2},</if>
            <if test="gmtCreate!=null">gmt_create=#{gmtCreate},</if>
            <if test="gmtModified!=null">gmt_modified=#{gmtModified},</if>
            <if test="beDeleted!=null">is_deleted=#{beDeleted},</if>
            <if test="statusCode!=null">status=#{statusCode}</if>
        </trim>
        WHERE id=#{id} and is_deleted=0
    </update>

</mapper>