<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.discount.mapper.CouponMapper">
    <resultMap id="coupon" type="coupon">
        <result property="beDeleted" column="is_deleted"/>
    </resultMap>

    <select id="listCouponByCouponRuleId" parameterType="Integer" resultMap="coupon">
        select id,
               user_id,
               coupon_rule_id,
               coupon_sn,
               begin_time,
               end_time,
               used_time,
               name,
               pic_url,
               gmt_create,
               gmt_modified,
               is_deleted,
               status
        from coupon where coupon_rule_id = #{couponRuleId} and is_deleted=0
    </select>

    <select id="getCouponById" parameterType="Integer" resultMap="coupon">
        select id,
               user_id,
               coupon_rule_id,
               coupon_sn,
               begin_time,
               end_time,
               used_time,
               name,
               pic_url,
               gmt_create,
               gmt_modified,
               is_deleted,
               status
        from coupon where id = #{id}
    </select>

    <select id="listCoupons" resultMap="coupon">
     select id,
     user_id,
     coupon_rule_id,
    coupon_sn,
    begin_time,
    end_time,
    used_time,
    name,
    pic_url,
    gmt_create,
    gmt_modified,
    is_deleted,
    status
    from coupon where id!=0
    </select>


    <insert id="addCoupon" parameterType="coupon" useGeneratedKeys="true" keyProperty="id">
        insert into coupon(id, user_id, coupon_rule_id, coupon_sn, begin_time, end_time, used_time, name, pic_url, gmt_create, gmt_modified, is_deleted, status)
        values
        (#{id}, #{userId}, #{couponRuleId}, #{couponSn}, #{beginTime}, #{endTime}, #{usedTime}, #{name}, #{picUrl}, #{gmtCreate}, #{gmtModified}, #{beDeleted}, #{status})
    </insert>

    <update id="updateCouponById" parameterType="coupon">
        update coupon
        <trim prefix="set" suffixOverrides=",">
            <if test="userId!=null">user_id=#{userId},</if>
            <if test="couponRuleId!=null">coupon_rule_id=#{couponRuleId},</if>
            <if test="couponSn!=null">coupon_sn=#{couponSn},</if>
            <if test="beginTime!=null">begin_time=#{beginTime},</if>
            <if test="endTime!=null">end_time=#{endTime},</if>
            <if test="usedTime!=null">used_time=#{usedTime},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="picUrl!=null">pic_url=#{picUrl},</if>
            <if test="gmtCreate!=null">gmt_create=#{gmtCreate},</if>
            <if test="gmtModified!=null">gmt_modified=#{gmtModified},</if>
            <if test="beDeleted!=null">is_deleted=#{beDeleted}</if>
            <if test="status!=null">status=#{status}</if>
        </trim>
        where id=#{id}
    </update>
    
    <select id="listCouponByCouponRuleIdAndUserId" parameterType="Integer" resultMap="coupon">
               select id,
               user_id,
               coupon_rule_id,
               coupon_sn,
               begin_time,
               end_time,
               used_time,
               name,
               pic_url,
               gmt_create,
               gmt_modified,
               is_deleted,
               status
        from coupon where coupon_rule_id = #{couponRuleId} and user_id=#{userId} and is_deleted=0
    </select>

    <select id="listCouponOfUser" parameterType="Integer" resultMap="coupon">
            select id,
               user_id,
               coupon_rule_id,
               coupon_sn,
               begin_time,
               end_time,
               used_time,
               name,
               pic_url,
               gmt_create,
               gmt_modified,
               is_deleted,
               status
        from coupon where user_id = #{user_id} and is_deleted=0
    </select>
</mapper>