<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xmu.discount.mapper.PresaleRuleMapper">



    <select id="getPresaleRuleById" parameterType="Integer" resultType="presaleRuleDto">
            select id,
                    strategy,
                    product_id,
                   start_time,
                   end_time,
                   status,
                   gmt_create,
                    gmt_modified,
                    is_deleted,
                    deposit
                    from presale_rule where id = #{id}
    </select>

    <insert id="addPresaleRuleDto" parameterType="presaleRuleDto" useGeneratedKeys="true" keyProperty="id">
        insert into presale_rule(id,strategy,product_id,start_time,end_time,status,gmt_create,gmt_modified,is_deleted,deposit)
        values
            (#{id}, #{strategy}, #{productId}, #{startTime}, #{endTime}, #{statusCode},  #{gmtCreate}, #{gmtModified}, #{beDeleted},#{deposit})
    </insert>

    <update id="updatePresaleRuleById" parameterType="presaleRuleDto">
        update presale_rule
        <trim prefix="set" suffixOverrides=",">
            <if test="strategy!=null">strategy=#{strategy},</if>
            <if test="productId!=null">product_id=#{productId},</if>
            <if test="startTime!=null">start_time=#{startTime},</if>
            <if test="endTime!=null">end_time=#{endTime},</if>
            <if test="statusCode!=null">status=#{statusCode},</if>
            <if test="gmtCreate!=null">gmt_create=#{gmtCreate},</if>
            <if test="gmtModified!=null">gmt_modified=#{gmtModified},</if>
            <if test="beDeleted!=null">id_deleted=#{beDeleted},</if>
            <if test="deposit!=null">deposit=#{deposit},</if>
        </trim>
        WHERE id=#{id}
    </update>

    <select id="listPresaleRuleByGoodsId" parameterType="Integer" resultType="presaleRuleDto">
        select id,
               strategy,
               product_id,
               start_time,
               end_time,
               status,
               gmt_create,
               gmt_modified,
               is_deleted,
               deposit
        from presale_rule where id = #{id}
    </select>
</mapper>